@using System.Security.Claims
@using GlobalEntity.Models
@model GlobalEntity.ViewModels.QuestionViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.Raw(Model.Title)</h5>
                    <p class="card-text">@Html.Raw(Model.Description)</p>
                    <p class="card-text"><small class="text-muted">Posted by: @Model.Student.UserName</small></p>
                    <p class="card-text"><small class="text-muted">Id Card: @Model.Student.IdCardNumber</small></p>
                    <p class="card-text"><small class="text-muted">Posted on: @Model.PostedDate.ToShortDateString()</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Actions</h5>
                    <div>
                        <a asp-controller="Answer" asp-action="Create" asp-route-questionId="@Model.Id" class="btn btn-primary">Reply</a>
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Moderator") || (Model.StudentId == User.FindFirst(ClaimTypes.NameIdentifier).Value)))
                        {
                            <a asp-action="Edit" asp-controller="Question" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                            <form asp-action="Delete" asp-controller="Question" method="post">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var answer in Model.Answers){
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.Raw((@Truncate(answer.Title, 10)))</h5>
                    <p class="card-text">@Html.Raw(Truncate(answer.Description, 10))</p>
                    <p class="card-text"><small class="text-muted">Posted on: @answer.PostedDate.ToShortDateString()</small></p>
                    <a asp-controller="Question" asp-action="Details" asp-route-Id="@answer.Id" class="btn btn-primary read-more">Read More</a>
                </div>
            </div>
        </div>
    }

</div>
@functions {
    string Truncate(string input, int length)
    {
        if (input.Length <= length)
        {
            return input;
        }
        return input.Substring(0, length) + "...";
    }
}
