@using System.Security.Claims
@using GlobalEntity.Models
@model GlobalEntity.ViewModels.AnswerViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.Raw(Model.Title)</h5>
                    <p class="card-text">@Html.Raw(Model.Description)</p>
                    <p class="card-text"><small class="text-muted">Teacher Name: @Model.Teacher.UserName</small></p>
                    <p class="card-text"><small class="text-muted">Email: @Model.Teacher.Email</small></p>
                    <p class="card-text"><small class="text-muted">Posted on: @Model.PostedDate.ToShortDateString()</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Actions</h5>
                    <div>
                        <a asp-controller="Answer" asp-action="Create" asp-route-questionId="@Model.Id" class="btn btn-primary">Reply</a>
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Moderator") || (Model.TeacherId == User.FindFirst(ClaimTypes.NameIdentifier).Value)))
                        {
                            <a asp-action="Edit" asp-controller="Answer" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                            <form asp-action="Delete" asp-controller="Answer" method="post">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
@functions {
    string Truncate(string input, int length)
    {
        if (input.Length <= length)
        {
            return input;
        }
        return input.Substring(0, length) + "...";
    }
}
