@model List<GlobalEntity.ViewModels.QuestionViewModel>

@if (Model == null || !Model.Any())
{
    <h1>No Questions Asked </h1>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var question in Model)
            {
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@Html.Raw((@Truncate(question.Title, 20)))</h5>
                            <p class="card-text">@Html.Raw(question.Description)</p>
                            <p class="card-text"><small class="text-muted">Posted on: @(question.PostedDate.Date == DateTime.Today ? "Today" : question.PostedDate.ToShortDateString())</small></p>
                            <a asp-controller="Question" asp-action="Details" asp-route-Id="@question.Id" class="btn btn-primary read-more">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@functions {
    string Truncate(string input, int length)
    {
        if (input.Length <= length)
        {
            return input;
        }
        return input.Substring(0, length) + "...";
    }
}
